/* Admin Dashboard Styles */
:host {
    display: block;
}

@keyframes pulse-slow {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.1);
    }
}

.animate-pulse {
    animation: pulse-slow 3s infinite ease-in-out;
}

select {
    background-image: none;
}